.sidebar_menus {
    list-style: none;
    background-color: white;
    border: 2px solid #8498D9;
    border-radius: 5px;
    top: 10%;
    left: 25%;
    height: 60%;
    z-index: 99;
    padding: 0px 145px 0 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar_menu {
    color: #8498C4;
    font-weight: bold;
    cursor: pointer;
}